html {
	height: 100%;
}

body {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: white;
	background: black;
	padding: 0;
	margin: 0;
	height: 100%;
}

main {
	min-height: 100%;
	margin: 0 auto;
	max-width: 700px;
	position: relative;
}

header {
	padding: 25px;
	text-align: center;
}

header img {
	display: block;
	margin: 10px auto;
	width: 250px;
}

section {
	padding: 20px 20px 70px;
}

section .left {
	font-weight: bold;
	font-size: 14px;
	float: left;
}

section .right {
	font-weight: bold;
	font-size: 14px;
	float: right;
	text-align: right;
}

section .left span,
section .right span,
section h2 span
header span,
section a {
	color: #eb0000;
}

section h2 {
	margin-top: 50px;
	margin-bottom: 150px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

section .contacts {
	margin-top: 75px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.clr {
	float: none;
	clear: both;
}

footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
}

footer p {
	line-height: 50px;
	font-weight: bold;
	color: #b00000;
	text-align: center;
	margin: 0;
}